.header {
  text-align: center;
  margin-bottom: 25px;
  padding: 10px;
  background-color: hsla(0, 0%, 80%, 0.5);
  border-radius: 20px;
  border: 2px solid #000000;
}

.header h1 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  font-size: 3em;
}

p {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}

.company-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px, 0;
  padding: 25px;
  background: rgba(255,255,255,0.6);
  border-radius: 20px;
  border: 2px solid #000000;
}

.logo img {
  width: 300px;
}

.form-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background: rgba(255,255,255,0.7);
  border: 2px solid #000000;
}

table {
  width: 100%;
  margin-top: 20px;
  background: rgba(255,255,255,0.7);
  border: 2px solid #000000;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 2px solid #000000;
}

th {
  background-color: #4CAF50;
  color: white;
  border: 2px solid #000000;
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
}

.total-row {
  font-weight: bold;
  background: rgba(255,255,255,0.5);
}

.delete-btn {
  background: #f44336;
  padding: 3px 7px;
}
